/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

html,
body {
  height: 100%;
  background: rgb(192,204,241);
  background: -webkit-radial-gradient(6deg, rgba(192,204,241,1) 0%, rgba(191,205,237,1) 52%, rgba(9,24,144,1) 100%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.green-snack-bar {
  background-color: #b1e693;
  color: black;
  width: 100%;
}
.red-snack-bar {
  background-color: #ea2c62;
  color: #f4f9f9;
  width: 100%;
}
.red-snack-bar .mat-button-wrapper {
  color: black;
}

.blue-snack-bar {
  background-color: #5c7aea;
  color: #f4f9f9;
  width: 100%;
}

.purple-snack-bar {
  background-color: #3F0071;
  color: #f4f9f9;
  width: 100%;
}
.purple-snack-bar .mat-button-wrapper {
  color: #FFEDED;
}

.green-snack-bar .mat-button-wrapper {
  color : #3E00FF;
}
